{
   "env": {
      "es2021": true,
      "node": true
   },
   "extends": [
      "airbnb-base"
   ],
   "parser": "@typescript-eslint/parser",
   "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module"
   },
   "plugins": [
      "@typescript-eslint"
   ],
   "settings": {
      "import/resolver": {
         "node": {
            "extensions": [
               ".ts",
               ".js",
               ".json"
            ]
         }
      },
      "import/extensions": [
         ".js",
         ".ts"
      ]
   },
   "rules": {
      // мои правки.
      "quotes": ["warn", "double", { "avoidEscape": true }],
      "indent": ["warn", 3],
      "semi": [2, "never"],
      "comma-dangle": ["warn", "never"],
      "padded-blocks": ["off", "never"],
      "no-trailing-spaces":["off", { "ignoreComments": true }],
      "no-underscore-dangle": ["warn", { "allow": ["_id"] }],
      "import/prefer-default-export": "off",
      "arrow-body-style" : "off",
      "import/order": "off",
      "no-multiple-empty-lines":["error", { "max": 2, "maxBOF": 1 }],
      "no-unused-vars" : "off",
      "consistent-return": "off",
      "no-console":"off",
      "max-len": ["error", { "code": 200, "tabWidth": 4 }],
         "object-curly-newline": ["warn", {
             "ObjectPattern": { "multiline": true },
             "ImportDeclaration": "never",
            "ExportDeclaration": { "multiline": true, "minProperties": 3 }
         }],
      // мои правки закончились.
      "import/extensions": [
         "error",
         "ignorePackages",
         {
            "js": "never",
            "ts": "never"
         }
      ]
   }
}
